<html>
   <body>
      <h1>Hello world from chef</h1>
      <b>HOSTNAME: </b>  <%= node['hostname'] %>
      <b>IPADDRESS: </b> <%= node['ipaddress'] %>
      <a href="about.html">About us</a>
   </body>
</html>
