<html>
   <body>
      <h1>Hello world from chef</h1>
      </br>
      <b>HOSTNAME: </b>  <%= node['hostname'] %>
      </br>
      <b>IPADDRESS: </b> <%= node['ipaddress'] %>
      </br>
      <a href="about.html">About us</a>
      </br>
      <img src="homer.png" alt="Homer"/>
   </body>
</html>
